* {
    margin: 0px;
    padding: 0px;
}

body {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    background-color: black;
}

.teclas {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    margin-top: 50px;
    margin-left: 40%;
    background-color: black;
    /* border: red 1px solid; */
    width: 50vh;
    height: 70vh;
}

input {
    border: transparent;
    width: 99%;
    height: 10vh;
    background-color: black;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border-color: transparent;
    background-color: gray;
    margin-left: 10px;
    margin-top: 10px;
}

.cero {
    color: white;
    width: 44%;
    border-radius: 50px 50px 50px 50px;
}

.Ce {
    color: rgb(49, 49, 49);
    background-color: rgb(205, 205, 205);
}

.masomenos {
    color: rgb(49, 49, 49);
    background-color: rgb(205, 205, 205);
}

.porcentaje {
    color: rgb(49, 49, 49);
    background-color: rgb(205, 205, 205);
}

.division {
    color: white;
    background-color: #ff9501;
}

.equis{
    color: white;
    background-color: #ff9501;
}

.menos {
    color: white;
    background-color: #ff9501;
}

.mas {
    color: white;
    background-color: #ff9501;
}

.igual {
    color: white;
    background-color: #ff9501;
}

.cuadrado {
    background-color: #ff9501;
}

.cubo {
    background-color: #ff9501;
}

.PI {
    background-color: #ff9501;
}

.raiz {
    background-color: #ff9501;
}